/*.pane{
	height: 100%;
	position: relative;
}

.center{
	margin: 0;
    position: absolute;
    top: 35%;
    left: 40%;
    -ms-transform: translate(-35%, -35%);
    transform: translate(-35%, -50%);
}
*/
/*.center h2{
	color: #009788;
	font-weight: bold;
}*/




p{
	/*font-family: noto;*/
	font-weight: 300;
	font-size: 2em;
	font-stretch: ultra-expanded;
	margin: 0;
	padding-top: 30px;
}

.operations{
	/*display: inline;*/
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
	width: calc( 100vw - 30px );
	height: 50vh;
}

.operations div{
	width: calc( ( 100vw - 30px ) / 3 );
}
.operations div:not(:last-child){
	border-right: 1px solid #000;
}

.operations span{
	font-size: 80px;
	color: #2e74e4;
}

.operations p{
	font-size: 20px;
	padding-top: 0;
	margin-top: 0;
	font-weight: 400;
}

.operations div:hover{
	cursor: pointer;
	background-color: #eee;
}

.operations div:hover span{
	text-shadow: 3px 3px 5px #999;
}


.operations div:hover p{
	/*text-decoration: underline;*/
	text-shadow: 5px 5px 5px #999;
}

